<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metrics</key>
	<array>
		<string>reported</string>
		<string>user</string>
		<string>daysused</string>
		<string>appused</string>
		<string>safe</string>
		<string>scan</string>
		<string>social</string>
	</array>
	<key>badges</key>
	<array>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>descriptions</key>
			<array>
			  <string>Official User level 1 description</string>
			  <string>Official User level 2 description</string>
			  <string>Official User level 3 description</string>
			  <string>Official User level 4 descriptions</string>
			</array>
			<key>id</key>
			<string>officialuser</string>
			<key>name</key>
			<string>Official User</string>
			<key>metric</key>
			<string>user</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>descriptions</key>
			<array>
			  <string>7 Day Stretch level 1 description</string>
			  <string>7 Day Stretch level 2 description</string>
			  <string>7 Day Stretch level 3 description</string>
			  <string>7 Day Stretch level 4 descriptions</string>
			</array>
			<key>id</key>
			<string>7daystretch</string>
			<key>name</key>
			<string>7 Day Stretch</string>
			<key>metric</key>
			<string>daysused</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>descriptions</key>
			<array>
			  <string>App Lover level 1 description</string>
			  <string>App Lover level 2 description</string>
			  <string>App Lover level 3 description</string>
			  <string>App Lover level 4 descriptions</string>
			</array>
			<key>id</key>
			<string>applover</string>
			<key>name</key>
			<string>App Lover</string>
			<key>metric</key>
			<string>appused</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>descriptions</key>
			<array>
			  <string>Play it safe! level 1 description</string>
			  <string>Play it safe! level 2 description</string>
			  <string>Play it safe! level 3 description</string>
			  <string>Play it safe! level 4 descriptions</string>
			</array>
			<key>id</key>
			<string>playitsafe</string>
			<key>name</key>
			<string>Play it safe!</string>
			<key>metric</key>
			<string>safe</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>descriptions</key>
			<array>
			  <string>Reporter level 1 description</string>
			  <string>Reporter level 2 description</string>
			  <string>Reporter level 3 description</string>
			  <string>Reporter level 4 descriptions</string>
			</array>
			<key>id</key>
			<string>reporter</string>
			<key>name</key>
			<string>Reporter</string>
			<key>metric</key>
			<string>reported</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>descriptions</key>
			<array>
			  <string>Scan Master level 1 description</string>
			  <string>Scan Master level 2 description</string>
			  <string>Scan Master level 3 description</string>
			  <string>Scan Master level 4 descriptions</string>
			</array>
			<key>id</key>
			<string>scanmaster</string>
			<key>name</key>
			<string>Scan Master</string>
			<key>metric</key>
			<string>scan</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>descriptions</key>
			<array>
			  <string>The Socialite level 1 description</string>
			  <string>The Socialite level 2 description</string>
			  <string>The Socialite level 3 description</string>
			  <string>The Socialite level 4 descriptions</string>
			</array>
			<key>id</key>
			<string>socialite</string>
			<key>name</key>
			<string>The Socialite</string>
			<key>metric</key>
			<string>social</string>
		</dict>
	</array>
	<key>background</key>
	<string>metal-2.jpg</string>
</dict>
</plist>
