<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metrics</key>
	<array>
		<string>reported</string>
		<string>user</string>
		<string>daysused</string>
		<string>appused</string>
		<string>safe</string>
		<string>scan</string>
		<string>social</string>
	</array>
	<key>badges</key>
	<array>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Official User no badge description</string>
			  <string>Official User silver description</string>
			  <string>Official User gold description</string>
			  <string>Official User diamond description</string>
			</array>
			<key>id</key>
			<string>officialuser</string>
			<key>name</key>
			<string>Official User</string>
			<key>metric</key>
			<string>user</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>7 Day Stretch no badge description</string>
			  <string>7 Day Stretch silver description</string>
			  <string>7 Day Stretch gold description</string>
			  <string>7 Day Stretch diamond description</string>
			</array>
			<key>id</key>
			<string>7daystretch</string>
			<key>name</key>
			<string>7 Day Stretch</string>
			<key>metric</key>
			<string>daysused</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>App Lover no badge description</string>
			  <string>App Lover silver description</string>
			  <string>App Lover gold description</string>
			  <string>App Lover diamond description</string>
			</array>
			<key>id</key>
			<string>applover</string>
			<key>name</key>
			<string>App Lover</string>
			<key>metric</key>
			<string>appused</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Play it safe! no badge description</string>
			  <string>Play it safe! silver description</string>
			  <string>Play it safe! gold description</string>
			  <string>Play it safe! diamond description</string>
			</array>
			<key>id</key>
			<string>playitsafe</string>
			<key>name</key>
			<string>Play it safe!</string>
			<key>metric</key>
			<string>safe</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Reporter no badge description</string>
			  <string>Reporter silver description</string>
			  <string>Reporter gold description</string>
			  <string>Reporter diamond description</string>
			</array>
			<key>id</key>
			<string>reporter</string>
			<key>name</key>
			<string>Reporter</string>
			<key>metric</key>
			<string>reported</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Scan Master no badge description</string>
			  <string>Scan Master silver description</string>
			  <string>Scan Master gold description</string>
			  <string>Scan Master diamond description</string>
			</array>
			<key>id</key>
			<string>scanmaster</string>
			<key>name</key>
			<string>Scan Master</string>
			<key>metric</key>
			<string>scan</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>The Socialite no badge description</string>
			  <string>The Socialite silver description</string>
			  <string>The Socialite gold description</string>
			  <string>The Socialite diamond description</string>
			</array>
			<key>id</key>
			<string>socialite</string>
			<key>name</key>
			<string>The Socialite</string>
			<key>metric</key>
			<string>social</string>
		</dict>
	</array>
	<key>background</key>
	<string>metal-2.jpg</string>
</dict>
</plist>
