<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metrics</key>
	<array>
		<string>reported</string>
		<string>user</string>
		<string>daysused</string>
		<string>appused</string>
		<string>safe</string>
		<string>scan</string>
		<string>social</string>
	</array>
	<key>badges</key>
	<array>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Please open the app at least 5 times to earn this badge!</string>
			  <string>a silver level badge for Official User!</string>
			  <string>a gold level badge for Official User!</string>
			  <string>a diamond level badge for Official User!</string>
			</array>
			<key>id</key>
			<string>officialuser</string>
			<key>name</key>
			<string>Official User</string>
			<key>metric</key>
			<string>user</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Please use the app at least once a day for 7 days in a row to earn this badge.</string>
			  <string>a badge for using the app 7 days in a row!</string>
			  <string>a badge for using the app 14 days in a row!</string>
			  <string>a badge for using the app 21 days in a row!</string>
			</array>
			<key>id</key>
			<string>7daystretch</string>
			<key>name</key>
			<string>7 Day Stretch</string>
			<key>metric</key>
			<string>daysused</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Please explore all parts of the this app to earn this badge.</string>
			  <string>a silver level badge for App Lover!</string>
			  <string>a gold level badge for App Lover!</string>
			  <string>a diamond level badge for App Lover!</string>
			</array>
			<key>id</key>
			<string>applover</string>
			<key>name</key>
			<string>App Lover</string>
			<key>metric</key>
			<string>appused</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Link your app with your DropBox account to earn this badge!</string>
			  <string>a badge for linking your DropBox account.</string>
			  <string>a badge for auto-backup on DropBox.</string>
			  <string>a diamond badge to Play it safe!</string>
			</array>
			<key>id</key>
			<string>playitsafe</string>
			<key>name</key>
			<string>Play it safe!</string>
			<key>metric</key>
			<string>safe</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Report your statistics to ear the reporter badge!</string>
			  <string>a badge for silver level Reporter</string>
			  <string>a badge for gold level Reporter</string>
			  <string>a badge for diamond level Reporter</string>
			</array>
			<key>id</key>
			<string>reporter</string>
			<key>name</key>
			<string>Reporter</string>
			<key>metric</key>
			<string>reported</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Scan medicine barcode to earn this badge!</string>
			  <string>a badge for 5 medicine barcode scans</string>
			  <string>a badge for 25 medicine barcode scans</string>
			  <string>a badge for 50 medicine barcode scans</string>
			</array>
			<key>id</key>
			<string>scanmaster</string>
			<key>name</key>
			<string>Scan Master</string>
			<key>metric</key>
			<string>scan</string>
		</dict>
		<dict>
			<key>levels</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>messages</key>
			<array>
			  <string>Share your progress to beome a Socialite!</string>
			  <string>a silver badge for sharing!</string>
			  <string>a gold badge for sharing!</string>
			  <string>a diamond badge for sharing!</string>
			</array>
			<key>id</key>
			<string>socialite</string>
			<key>name</key>
			<string>The Socialite</string>
			<key>metric</key>
			<string>social</string>
		</dict>
	</array>
	<key>background</key>
	<string>metal-2.jpg</string>
</dict>
</plist>
